# Dependencies
node_modules/
dist/
dist-ssr/

# Vite cache
.vite/
*.local

# Environment files
.env*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo

# OS metadata
.DS_Store
Thumbs.db

# TypeScript build info
*.tsbuildinfo

# Optional
.cache/
.tmp/
.sass-cache/

build/